.simple-slider .swiper-slide {
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.simple-slider .swiper-button-next,
.simple-slider .swiper-button-prev {
    width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

@media (max-width:767px) {
    .simple-slider .swiper-button-next,
    .simple-slider .swiper-button-prev {
        display: none;
    }
}

@media (max-width:767px) {
    .simple-slider .swiper-slide {
        height: 360px;
    }
}

.dropdown-menu {
    display: none;
}

.menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
}

.menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
}